@tailwind base;
@tailwind components;
@tailwind utilities;
body{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: #1f1f1f;
}

::-webkit-scrollbar-thumb {
    background: #ff2225;
}

::-webkit-scrollbar-thumb:hover {
    background: #555;
}
¡
#content {
    overflow-y: scroll;
    overflow-x: hidden;
    max-height: 74vh;
}


.h-aside {
    height: 39.4rem;
  }
.pag-body{
    max-height: 100vh;
}

#sidebar-multi-level-sidebar {
    height: 100vh;
  }
.alturadiv{
    min-height: 85vh;
}

#TableUser_filter input {
    width: 200px;
    padding: 5px;
    margin: 10px;
    border: #1f1f1f;
    border-radius: 5px;
    border-style: solid;
}
#TableUser_filter label {
    font-weight: bold;
    margin-left: 25px;
}
#TableGrup_filter input {
    width: 200px;
    padding: 5px;
    margin: 10px;
    border: #1f1f1f;
    border-radius: 5px;
    border-style: solid;
}
#TableGrup_filter label {
    font-weight: bold;
    margin-left: 25px;
}
#TableOrla_filter input {
    width: 200px;
    padding: 5px;
    margin: 10px;
    border: #1f1f1f;
    border-radius: 5px;
    border-style: solid;
}
#TableOrla_filter label {
    font-weight: bold;
    margin-left: 25px;
}   
.apersonal{
    display: block;
    margin-top: 1rem;
    max-width: 95%;
}

.orla-container {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
}

.student-container {
    width: 100%;
    text-align: center;
    margin-bottom: 20px; /* Ajusta según sea necesario para separar las imágenes y los nombres */
    display: flex;
    flex-direction: column;
    align-items: center;
}

.student-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.student-image {
    width: 80px; /* o el tamaño deseado */
    height: 80px; /* o el tamaño deseado */
    object-fit: cover;
    border-radius: 50%;
    margin-bottom: 10px; /* Ajusta según sea necesario para separar las imágenes y los nombres */
}

.student-name {
    font-size: 14px; /* Ajusta según sea necesario para el tamaño del nombre */
}



.borderP{
    border-bottom: 3px solid black;
}
.subircsv {
    padding: 0;
}
#enviarcsv{
    --tw-text-opacity: 1;
    color: rgb(255 255 255 / var(--tw-text-opacity));
    font-weight: 500;
    font-size: 0.875rem;
    --tw-bg-opacity: 1;
    background-color: rgb(21 128 61 / var(--tw-bg-opacity));
    border: none;
    cursor: pointer;
    padding: 1rem;
    border-radius: 0.5rem;
    margin-right: 0px;
}

.inputcsv::file-selector-button{
    --tw-text-opacity: 1;
    color: rgb(255 255 255 / var(--tw-text-opacity));
    font-weight: 500;
    font-size: 0.875rem;
    --tw-bg-opacity: 1;
    background-color: rgb(21 128 61 / var(--tw-bg-opacity));
    border: none;
    cursor: pointer;
    padding: 1rem;
    border-radius: 0.5rem;}
.dataTables_filter{
    display: flex;
    justify-content: space-between;
}
.dataTables_filter label{
    margin: 0;
    padding: 0;
    border-style: solid;
}