@tailwind base;
@tailwind components;
@tailwind utilities;
body{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: #1f1f1f;
}

::-webkit-scrollbar-thumb {
    background: #ff2225;
}

::-webkit-scrollbar-thumb:hover {
    background: #555;
}
¡
#content {
    overflow-y: scroll;
    overflow-x: hidden;
    max-height: 74vh;
}


.h-aside {
    height: 39.4rem;
  }
.pag-body{
    max-height: 100vh;
}

#sidebar-multi-level-sidebar {
    height: 100vh;
  }
.alturadiv{
    min-height: 85vh;
}

#TableUser_filter input {
    width: 200px;
    padding: 5px;
    margin: 10px;
    border: #1f1f1f;
    border-radius: 5px;
    border-style: solid;
}
#TableUser_filter label {
    font-weight: bold;
    margin-left: 25px;
}
#TableGrup_filter input {
    width: 200px;
    padding: 5px;
    margin: 10px;
    border: #1f1f1f;
    border-radius: 5px;
    border-style: solid;
}
#TableGrup_filter label {
    font-weight: bold;
    margin-left: 25px;
}
#TableOrla_filter input {
    width: 200px;
    padding: 5px;
    margin: 10px;
    border: #1f1f1f;
    border-radius: 5px;
    border-style: solid;
}
#TableOrla_filter label {
    font-weight: bold;
    margin-left: 25px;
}   
.apersonal{
    display: block;
    margin-top: 1rem;
    max-width: 95%;
}

#plantilla {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.orla-container {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
}

.student-image {
    width: 80px;
    height: 80px;
    object-fit: cover;
    border-radius: 50%;
}
.borderP{
    border-bottom: 3px solid black;
}